---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Leamsigc - Learning in public">
  <main>
    <ul>
      <li>
        <a href="/blog/how-to-take-notes-in-vscode">
          how-to-take-notes-in-vscode
        </a>
      </li>
    </ul>
  </main>
</Layout>

<style></style>
