---
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro";
import { SEO } from "astro-seo";

const seoItem = {
  basic: {
    title:frontmatter.title,
    type: "",
    image: frontmatter.image.url,
    url: frontmatter.image.url
  },
};
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <SEO
      title={frontmatter.title}
      description={frontmatter.description}
      openGraph={seoItem}
    />
  </head>
  <body>
    <Header />
    <div class="max-w-5xl mx-auto prose my-16">
      <slot />
    </div>
  </body>
</html>
